<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="Bulk_Ping_v2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
                </sectionGroup>
        </configSections>
        <startup>
            
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
        <userSettings>
                <Bulk_Ping_v2.My.MySettings>
                        <setting name="License" serializeAs="String">
                                <value/>
                        </setting>
                        <setting name="Lite" serializeAs="String">
                                <value>False</value>
                        </setting>
                </Bulk_Ping_v2.My.MySettings>
        </userSettings>
</configuration>
